@model WolvesServer.EF.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Thông tin liên hệ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameBank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telegram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telegram)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.Id }, new {@class = "btn btn-success"})
</p>
