@model WolvesServer.EF.DoiTac

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa nó không?</h3>
<div>
    <h4>DoiTac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDoiTac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDoiTac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinKhac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinKhac)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
